header{
    padding: 25px;
    text-align: center;
    border-bottom: 5px solid black;
}

main{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.design-container{
    padding: 50px 20px;
    border: 5px solid black;
    border-radius: 15px;
}

h2{
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}