*{padding: 0;margin: 0;} 

html,body{height: 100%;}

body{
display: flex;
justify-content: center; 
align-items: center;
}
:root {--
bgc: #ff3366;
bgc2: #ff9977;
bgc3: #ffdd99;
bgc4: #ffff77;
}
 #btn {
position: relative;
border-radius: 10px;
overflow: hidden;
width: 280px;
height: 80px;
margin: 30px; 
border: 1px solid;
background-color: #fff; 
}

