*{
    margin: 0;
    padding: 0;
    font-family: 'system-ui';
}

:root{
    --pink: #c20278;
    --dark: #1f1d1d;
    --white: #f0f0f0;
    --green: #00be4f;
    --blue: #4cbdff;
    --darkblue: #1553fc;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pink);
}

.container{
    height: 450px;
    width: 350px;
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    padding: 25px 50px;
    color: var(--white);
}

.container input{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--pink);
    padding: 2px;
    font-size: 1.5rem;

    &::placeholder{
        color: var(--white);
        text-align: center;
    }
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 20px;
}

button{
    padding: 5px;
    background-color: var(--pink);
    color: var(--white);
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.watch{ row-gap: 0; }

label{
    background-color: var(--pink);
    padding: 5px;
    border-start-start-radius: 10px;
    border-start-end-radius: 10px;
    font-size: 1.5rem;
}

.code{
    display: flex;

    & button{
        background-color: var(--pink);
        width: 100%;
        border: none;
        border-radius: 0;
    }
    & input::placeholder{
        text-align: start;
    }
}