*{
    margin: 0;
    padding: 0;
    font-family: 'system-ui';
}

:root{
    --pink: #c20278;
    --dark: #1f1d1d;
    --white: #f0f0f0;
    --green: #00be4f;
    --blue: #4cbdff;
    --darkblue: #1553fc;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: var(--pink);
}

section{
    width: 80%;
    height: 100%;
    background-color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 75px;
}

.card{
    height: 350px;
    width: 200px;
    background-color: var(--pink);
    border: 10px solid var(--white);
    border-radius: 10px;
}

aside{
    color: var(--white);
    text-align: center;
    font-size: 2rem;
}