*{
    margin: 0;
    padding: 0;
    font-family: 'system-ui';
}

:root{
    --pink: #c20278;
    --dark: #1f1d1d;
    --white: #f0f0f0;
    --green: #00be4f;
    --blue: #4cbdff;
    --darkblue: #1553fc;
}

main{
    display: flex;
    background-color: var(--pink);
}

section{
    width: 80%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.card{
    height: 80%;
    width: 80%;
    position: relative;
    inset: 0;
    margin: auto;
    background-color: var(--pink);
    border: 5px solid var(--white);
    border-radius: 10px;
}

aside{
    width: 20%;
    color: var(--white);
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}