button{
    position: absolute;
    right: 100px;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
    animation: none;
    cursor: pointer;

    &:hover{
        animation: pulse 1s infinite alternate;
    }
}

@keyframes pulse {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.25);
    }
}